@font-face{
    font-family: 'barlow';
    src:url('font/Barlow-Regular.ttf');  
}
@font-face{
    font-family: 'fraunces';
    src:url('font/fraunces.ttf');  
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, nav{
    list-style: none;
}

body{
    font-family: 'barlow';
    font-weight: lighter;
    width: 80%;
    margin: auto;
}

.content{
    padding-left: 5em;
    padding-right: 5em;
}

/* -------------- Realisation du Header -------------- */
header{
    display: grid;
    color: white;
    text-align: center;
}

/* banniere */
.bannier{
    background-color: #3ebfff;
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
}

.ul-header{
    display: flex;
    flex-direction: row;
    padding-right: 2em;
}

.li-header{
    margin: 1em;
    cursor: pointer;
}

/* image "principale" et son texte*/
.title{
    font-family: 'fraunces';
    letter-spacing: 0.2em;
    font-size: 2em;
}

.icon-arrow-down{
    padding-top: 4em;
    padding-bottom: 13em;
}
.text-image-header{
    background-image: url('images/desktop/image-header.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3ebfff;
    padding-top: 4em;
}

/* -------------- Realisation du Main content -------------- */
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.main-section-without-image{
    grid-column: 1/-1;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fffbf8;
    color: #212c37;
}

.img-main-section{
    width: 100%;
    height: 100%;
}

.text-main-without-image{
    font-size: 1.2em;
    padding: 3em;
    margin: auto;
}

.text-transform{
    grid-column: 1/1;
    grid-row: 1/1;
}

.description-text-main{
    color: #8b8c9b;
}

.main-title{
    font-family: 'fraunces';
    font-size: 1.5em;
}

.text-main-no-image{
    padding:1.5em;
}

.learn{
    font-weight: bold;
    cursor: pointer;
}

.img-transform{
    grid-column:2/3;
}

.cherry{
    background-image: url('images/desktop/image-graphic-design.jpg');
}

.text-graphic{
    color: #1c5245;
    padding:0.5em;
}

.orange{
    background-image: url('images/desktop/image-photography.jpg');
}

.text-photo{
    color: #1b546e;
    padding:0.5em;
}

.main-section-with-image{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3em;
}

.text-section-with-image{
    position: relative;
    top: 70%;
}

/* -------------- Realisation du Aside -------------- */
aside{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 90%;
    text-align: center;
    padding: 4em;
    background-color: #fffbf8;
}

.aside-title{
    grid-column: 1/-1;
    font-family: 'fraunces';
    color: #a7a7a7;
    letter-spacing: 0.2em;
}

.testimonials{
    grid-row: 2/3;
    margin: 2em;
    color: #8b8c9b;
}

.img-testimonials{
    border-radius: 50%;
    margin-bottom: 2em;
}

.text-aside{
    padding: 1em;
}

.name-testimonials{
    font-family: 'fraunces';
    font-weight: bold;
    margin-bottom: 0em;
    padding-bottom: 0em;
    color: #212c37;
}

.job-testimonials{
    color: #a7a7a7;
}

/* -------------- Realisation du Footer -------------- */

.bannier-image-footer{
    display: flex;
}

.image-footer{
    width: 25%;
}

.footer-no-image{
    background-color: #90d4c5;
    color: #2f7465;
    text-align: center;
    padding: 2em;
}

.footer-title{
    font-weight:bold;
    font-size: 2em;
}

.ul-footer{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.li-footer{
    padding: 1.5em;
    cursor: pointer;
}

.icon-footer{
    margin-top: 2em;
    padding: 1em;
    cursor: pointer;
}



